@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
  background-color: #313131;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100vh;
}
ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: none;
    justify-content: space-around;
}

.box{
    position: relative;
    width: 375px;
    height: 750px;
    background: #666;
    border-radius: 62.5px;
    left: 5%;
}

.inner{
    position: absolute;
    inset: 3px;
    background: url(img/bg.webp);
    background-position: center;
    background-size: cover;
    border-radius: 60px;
    border: 10px solid #000;
    display: flex;
    justify-content: center;
}

.btn{
    position: absolute;
    top: 137.5px;
    left: -2px;
    width: 3.75px;
    height: 32.5px;
    background: radial-gradient(#ccc, #666, #222);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 10;
}
.btn.btn2{
    top: 200px;
    height: 50px;
}
.btn.btn3{
    top: 262.5px;
    height: 50px;
}
.rightSideBtn{
    position: absolute;
    top: 212.5px;
    right: -2px;
    width: 3.75px;
    height: 87.5px;
    background: radial-gradient(#ccc, #666, #222);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 10;
}
.island-popup{
    position: absolute;
    top: 12.5px;
    width: 112.5px;
    height: 31.25px;
    border-radius: 25px;
    background: #000;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 5px;
}
.island-popup p {
    display: none;
    
}
.island-popup.active p {
    color: #0f0f0f;
    display: flex;
    
}
.island-popup.active{
    width: 312.5px;
    height: 187.5px;
    border-radius: 50px;
    align-items: flex-start;
    padding: 0 10px;
    background: #0f0f0f;
}
.text{
    position: absolute;
    width: 60%;
    height: 750px;
    background: #252526;
    border-radius: 62.5px;
    right: 5%;
}

.program-bottom{
  position: absolute;
  bottom: 2%;
  width: 95%;
  height: 100px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(90, 88, 88);
  border-radius: 45px;
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-house{
    font-size: 300%;
    color: #fff;
}

a{
    text-decoration: none;
}


.swiper{
    position: absolute;
    top: 8%;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    background: none;
}
.swiper-p{
    width: 100%;
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    background: none;
    justify-content: space-around;
}
.swiper a{
    display: block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    background: none;
    align-items: center;
}
i.fa_viber{
    border-radius: 0px;
    margin: 0px;
    
}
.swiper  i{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    font-size: 50px;
    align-items: center;
    flex-wrap: nowrap;
}

i.abouteme {
    background-color: rgb(21, 104, 172);
    width: 325px;
    height: 145px;
    justify-content: none;
}
.swiper  .abouteme i{
    display: flex;
    font-size: 80px;
    width: 100%;
    justify-content: center;
}
.swiper  .abouteme i.me {
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-size: 45px;
}

i.map{
    background-color: none;
    width: 150px;
    height: 150px;
}

i.xp{
    background-color: red;
}
i.edu{
    background-color: orange;    
}
i.contact{
    background-color: cornflowerblue;
}
i.skilll{
    background-color: rgba(170, 170, 170, 0.788);
    width: 325px;
    height: 145px;
}
iframe {
    border-radius: 15px;
}





/* SECCION S K I L L S */
.skills{
    color: #fff;
    padding: 50px 20px;
    display: none;
}
.skills.active{
    color: #fff;
    padding: 50px 20px;
    display:flex;
    width: 100%;
    height: 100%;
}
.skills .contenido-seccion{
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}
.skills h2{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 20px ;
}
.skills .fila{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
.skills .fila .col{
    width: 49%;
    height: 80%;
    padding: 0 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
.skills .col {

    padding: 10px;
    position: relative;
    display: flex;
    background-color: #252A2E;
    border-radius: 30px;
}


.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #13151791;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #aaa;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #aaa;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 80%;}
}

















.curriculum{
    color: #fff;
    display: none;
}
.curriculum.active{

    display: block;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum h3{
    margin-left: 35px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
    border-radius: 30px;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #aaa;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #aaa;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #aaa;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #aaa;
    margin-left: 20px;
    margin-top: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #aaa;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #aaa;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #aaa;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #aaa;
    float: left;
    position: relative;
    bottom: 4px;
}



.curriculum2{
    color: #fff;
    display: none;
}
.curriculum2.active{
    display: block;
}
.curriculum2 .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum2 h2{
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.curriculum2 .fila{
    display: flex;
    justify-content: space-between;
    height: 20%;
}
.curriculum2 .fila .col{
    width: 49%;
    padding: 0 20px;
    height: 80%;
}
.curriculum2 h3{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-left: 35px;
    margin-bottom: 35px;
}

.curriculum2 .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
    border-radius: 30px;
}
.curriculum2 .fila .item h4{
    font-size: 22px;
    margin-bottom: 10px;
}
.curriculum2 .fila .item .casa{
    color: #aaa;
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.curriculum2 .fila .item .fecha{
    display: block;
    color: #aaa;
    margin-bottom: 10px;
}
.curriculum2 .fila .item p{
    line-height: 24px;
}
.curriculum2 .fila .izq{
    border-right: 2px solid #aaa;
    margin-right: 20px;
}
.curriculum2 .fila .der{
    border-left: 2px solid #aaa;
    margin-left: 20px;
    margin-top: 50px;
}
.curriculum2 .fila .item .conectori{
    height: 2px;
    background-color: #aaa;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum2 .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #aaa;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum2 .fila .item .conectord{
    height: 2px;
    background-color: #aaa;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum2 .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #aaa;
    float: left;
    position: relative;
    bottom: 4px;
}






#text{
    color: #fff;
}
.contacto{
    color: #fff;
    display: none;
}
.contacto.active{
    display: block;
    transition: 500s;
    height: 100%;
    width: 100%;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    height: 100%;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
.contacto .fila{
    display: flex;
    height: 80%;
}
.contacto .col{
    width: 50%;
    height: 100%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    padding: 20px;
    max-width: 400px;
    left: 50%;
    background-color: #252A2E;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    height: 30%;
    width: 80%;
}
.contacto .col .info ul{
    list-style: none;
    color: #f5f5f5;
    height: 100%;
    flex-wrap: unset;
    flex-direction: column;
    
}
.contacto .col .info ul li{
    margin-bottom: 20px;
    height: 10px;
}
.contacto .col .info ul li i{
    color: #aaa;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}




















/* SECCION RESPONSIVE */
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}

@media screen and (max-width: 1260px) and (max-height: 760px) {
    .box {
        zoom: 70% !important;
        left: 2%!important;
    }
    .text{
        zoom: 70%!important;
        right: 2%!important;
    }
}
@media screen and (max-width: 1030px) and (max-height: 630px) {
    .box {
        zoom: 50% !important;
        left: 4%!important;
    }
    .text{
        zoom: 50%!important;
        right: 4%!important;
    }
}
@media screen and (max-width: 1430px) and (max-height: 560px) {
    .box {
        zoom: 50% !important;
        left: 4%!important;
    }
    .text{
        zoom: 50%!important;
        right: 4%!important;
    }
}
@media screen and (max-width: 1540px){
    .curriculum .fila {
        zoom:90%;
    }
}
@media screen and (max-width: 1260px){
    .box {
        zoom: 90%;
        left: 2%;
    }
    .text{
        zoom: 90%;
        right: 2%;
    }
}
@media screen and (max-width: 1066px){
    .curriculum .fila {
        zoom:85%;
    }
}
@media screen and (max-width: 950px){
    .curriculum .fila {
        zoom:80%;
    }
}
@media screen and (max-height: 760px){
    .box {
        zoom: 80%;
        left: 10%;
    }
    .text{
        zoom: 80%;
        right: 10%;
    }
}
@media screen and (max-height: 612px){
    .box {
        zoom: 70%;
        left: 15%;
    }
    .text{
        zoom: 70%;
        right: 15%;
    }
}
@media screen and (max-height: 530px){
    .box {
        zoom: 50% !important;
        left: 15%;
    }
    .text{
        zoom: 50% !important;
        right: 15%;
    }
}
@media screen and (max-width: 955px){
    .box {
        zoom: 80% ;
        left: 2%;
    }
    .text{
        zoom: 80% ;
        right: 2%;
    }
}
@media screen and (max-width: 870px){
    .box {
        zoom: 70% ;
        left: 2%;
    }
    .text{
        zoom: 70% ;
        right: 2%;
    }
}
@media screen and (max-width: 770px){
    .box {
        zoom: 60% ;
        left: 2%;
    }
    .text{
        zoom: 60% ;
        right: 2%;
    }
}
@media screen and (max-width: 700px){
    .box {
        display: block;
    }
    .text{
        display: none;
    }
    /* .erreur{
        display: flex !important;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
}
@media screen and (max-height: 375px){
    .box {
        display: block;
    }
    .text{
        display: none;
    }
    /* .erreur{
        display: flex !important;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    
}

.erreur{
    display: none;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
}


.sobremi{
    color: #fff;
    display: none;
}
.sobremi.active{
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
}


.sobremi .contenido-seccion{
    padding: 20px;
    width: 100%;
    height: 100%;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center; 
}
.sobremi .contenido-seccion p span{
    color: #aaa;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.sobremi .col {
    width: 48%;
    height: 80%;
    padding: 10px;
    position: relative;
    display: flex;
    background-color: #252A2E;
    border-radius: 30px;
}
.sobremi .col.left{
    align-items: center;
}
.sobremi .col.right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
    margin-top: 0px;
    text-align: center;
}
.sobremi .fila .col ul{
    align-content: flex-start;
    list-style: none;
    color: #f5f5f5;
    flex-wrap: unset;
    flex-direction: column;
    width: auto;
    justify-content: center; 

}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #aaa;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #aaa;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #aaa;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #aaa;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}



li{
    list-style: none;
}

.homee{
    color: #fff;
    padding: 50px 20px;
    display: none;
}
.homee.active{
    color: #fff;
    padding: 50px 20px;
    display: block;
    height: 100%;
    width: 100%;
}



.title-block{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-block h2 {
    color: #f5f5f5;
    font-size: 60px;
    line-height: 74px;
    margin: 0;
}

.title-block .sp-subtitle {
    color: #aaa;
    font-size: 21px;
    font-weight: 300;
    margin: 5px 0;
    text-align: center;
}