<div class="produit">
        <fieldset style="background: white">
            <img id="0" class="image-produit" src="data:image/png;base64,@getIllustration" alt="erreur"  
                style="object-fit:cover;
                       width:330px;
                       height:auto;
                       object-position: center;
                       border: solid 1px white;
                       float: left"/>
                       
        <br>
    <div style="background: white; padding :50px; display: inline-block; vertical-align: top;">
            <label><h3>@getDesignation - @getPrix €</h3></label>
                <p>
                    @getDescription
                </p>

                <a href="./doc/guide_des_tailles.pdf">guide des tailles</a>
            <div style="background: red; padding : 6px; position: right; float: right;">
                <button class="btn" onclick="location.href='mailto:test456@champatux.fr';"> commander @getDesignation </button>
            </div>
        </fieldset>
    </div>
</div> 
